src/main/java/mypackage/moodle1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="quiz">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="question">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="text" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="questiontext">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="text" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="format" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="tags">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="tag">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="text" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="answer">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="text" type="xs:string" />
                                        <xs:element name="feedback">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="text" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="fraction" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="shuffleanswers" type="xs:unsignedByte" />
                            <xs:element minOccurs="0" name="single" type="xs:boolean" />
                            <xs:element minOccurs="0" name="answernumbering" type="xs:string" />
                            <xs:element minOccurs="0" name="category">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="text" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
