src/main/resources/moodle.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="quiz">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="text"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="name" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="text"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="questiontext" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="text"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="format" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tags" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="text"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="answer" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="text"/>
                                        <xs:element name="feedback">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="text"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="fraction" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="shuffleanswers" minOccurs="0"/>
                            <xs:element type="xs:string" name="single" minOccurs="0"/>
                            <xs:element type="xs:string" name="answernumbering" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
